<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gobblet5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".HowToOperateActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectHowToOperateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".debActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".HowToPlayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HowToOperateActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectTutorialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameWithComActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameWithManActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".preGameWithComActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".preGameWithManActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5907776148040824~6021365361"
            />
    </application>

</manifest>