<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.gobblet5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.game.gobblet5.HowToOperateActivity2" />
        <activity android:name="com.game.gobblet5.SelectHowToOperateActivity" />
        <activity android:name="com.game.gobblet5.HowToPlayActivity" />
        <activity android:name="com.game.gobblet5.HowToOperateActivity1" />
        <activity android:name="com.game.gobblet5.SelectTutorialActivity" />
        <activity android:name="com.game.gobblet5.GameWithComActivity" />
        <activity android:name="com.game.gobblet5.GameWithManActivity" />
        <activity android:name="com.game.gobblet5.preGameWithComActivity" />
        <activity android:name="com.game.gobblet5.preGameWithManActivity" />
        <activity android:name="com.game.gobblet5.ConfigActivity" />
        <activity android:name="com.game.gobblet5.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9366896828334909~9499114363"
            />
    </application>

</manifest>