<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gobblet5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".HowToOperateActivity2" />
        <activity android:name=".SelectHowToOperateActivity" />
        <activity android:name=".HowToPlayActivity" />
        <activity android:name=".HowToOperateActivity1" />
        <activity android:name=".SelectTutorialActivity" />
        <activity android:name=".GameWithComActivity" />
        <activity android:name=".GameWithManActivity" />
        <activity android:name=".preGameWithComActivity" />
        <activity android:name=".preGameWithManActivity" />
        <activity android:name=".ConfigActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5907776148040824~6021365361"
            />
    </application>

</manifest>